/*GENERAL PAGE SETUP*/
html{
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
}
.container{
	max-width: 960px;
	margin: 0 auto;
}
div{
	border: 1px solid black;
}
/*HEADER SECTION*/
header{
	background-image: url('../images/glasses-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 31rem;
	padding-top: 1rem;
	color: white;
}
header nav{
	background-color: cadetblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}
header nav img{
	height: 1.5rem;
	margin-right: 1rem;
}
header .upperlogo{
	display: flex;
	align-items: center;
}
header .uppernav{
	display: flex;
	align-items: center;
}
header .uppernav ul li{
	display: inline-block;
	margin-left: 2rem;
}
header .bannercont{
	display: inline-block;
	background-color: white;
	color: black;
	padding: 1.5rem 5rem;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	margin-top: 10rem;
	margin-right: -4rem;
}
header .bannerflex{
	display: flex;
	justify-content: flex-end;
}
/*ICONS SECTION*/
.icons{
	margin-top: 3rem;
	margin-bottom: 3rem;
	border: 1px solid black;
	display: flex;
	justify-content: center;
}
#paper{
	width: 3.5rem;
}
.product{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 8rem;
	width: 5rem;
	text-align: center;
	margin-right: 5rem;
	margin-left: 5rem;
}
.product img{
	width: 5rem;
}
.product span{
	display: block;
}
/*DESCRIPTIONS SECTION*/
.descriptions{
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin-bottom: 5rem;
}
.desc{
	width: 35%;
	margin-right: 5%; 
}
.desc span{
	display: block;
	font-weight: bold;
	color: white;
	width: 10rem;
	background-color: cadetblue;
	margin-bottom: 1rem;
	padding: 0.5rem 1.25rem;
	text-align: left;
}
